/* .rest_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15%;
}

.image{
    border-radius: 5%;
    width: 100%;
}

.text{
    font-weight: bold;
} */

.rest_card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
    border-radius: 10px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .text {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
  }
  