*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.navigation {
  background-color: #0a2a47;
  padding: 20px;
  display: flex;
  align-items: center;
}

.rows_box{
  width: 95%;
}

.rows{
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav_links li {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

.nav_links li p {
  color: white;
  padding: 2px;
  margin: 2px;
  text-decoration: none;
}

.nav_links li p:hover {
  text-decoration: underline;
  cursor: pointer;
}